<div class="container" id="about">
  <div class="row w-100 justify-content-center">
    <div class="col-12 align-self-center text-center">
      <h1>CONTACT</h1>
      <hr />
    </div>
    <div class="col-12 align-self-center">
      <p>
        You want to talk about technology related things? Just fill out the form and get in contact with me, I would
        love to here from you!
      </p>

      <div id="form-wrapper">
        <form [formGroup]="contactForm" name="contact" id="contact-form" method="post" (ngSubmit)="onSubmit()">
          <input type="hidden" name="form-name" value="contact" />
          <p style="display: none;">
            <label>Don’t fill this out if you're human: <input name="bot-field"/></label>
          </p>
          <div class="form-group">
            <label for="inputName">Name</label>
            <input name="name" type="email" class="form-control" id="inputName" formControlName="name" required />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">E-Mail</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              formControlName="email"
              required
            />
            <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea
              name="message"
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              formControlName="message"
              required
            ></textarea>
          </div>
          <p id="button-row">
            <button id="submit-button" type="submit" class="btn">
              <fa-icon [icon]="faPaperPlane" size="lg" style="color: white;"></fa-icon> Send E-Mail
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
