<div class="container" id="about">
  <div class="row w-100 justify-content-center">
    <div class="col-12 align-self-center text-center">
      <h1>CONTACT</h1>
      <hr />
    </div>
    <div class="col-12 align-self-center">
      <p>
        You want to talk about technology related things? Just fill out the form and get in contact with me, I would
        love to here from you!
      </p>
      <form name="contact" method="POST" data-netlify="true">
        <div class="form-group">
          <label for="exampleInputEmail1">E-Mail</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
          <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn">
          <fa-icon [icon]="faPaperPlane" size="lg" style="color: white;"></fa-icon> Send E-Mail
        </button>
      </form>
    </div>
  </div>
</div>
