<div class="container" id="about">
  <div class="row w-100 justify-content-center">
    <div class="col-12 align-self-center text-center">
      <h1 i18n="about me|header of the about section@@about.about">ABOUT</h1>
      <hr />
    </div>
    <div class="col-12 align-self-center">
      <p i18n="meaning|description@@about.introduction">
        Hello! I am Gerrit, a software engineer and master student of computer science based in Oldenburg, Germany. Even
        though I often focus on building robust and scalable backend applications, I occasionaly develop frontend
        applications for any use case.
        <br /><br />
        In my previous employement as a student trainee, I primarly worked on backend applications and software architectures in the context of IoT and Smart City. 
        Through this work at <a href="https://embeteco.com" target="_blank">embeteco GmbH & Co. KG</a> I was exposed to several projects including:
      </p>
      <ul>
        <li><a href="https://www.enaq-fliegerhorst.de/" target="_blank">ENaQ</a></li>
        <li><a href="https://www.luxaround.de/" target="_blank">LuxAround</a></li>
        <li><a href="https://www.emgimo.eu/" target="_blank">EMGIMO</a></li>
      </ul>
      <br />
    </div>
  </div>
</div>
