<header>
  <div class="lang-switch fixed-top">
    <ul>
      <li id="language-de">
        <a href="/de" [class.active-language]="localeId == 'de'">
          <span>DE</span>
        </a>
      </li>
      <li id="language-en">
        <a href="/en-US" [class.active-language]="localeId == 'en'">
          <span>EN</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container h-100">
    <div class="row w-100 h-100">
      <div class="col align-self-center ml-3 text-center">
        <img src="assets/avatar.jpg" class="mb-3" />
        <h1>Gerrit Schöne</h1>
        <h2><b>Student & Software Engineer</b></h2>
        <div class="social_wrapper mt-3">
          <a href="https://github.com/gerritsch" target="_blank">
            <fa-icon [icon]="faGithub" size="2x" style="color: white;"></fa-icon>
          </a>
          <a href="#" target="_blank">
            <fa-icon class="ml-2" [icon]="faLinkedin" size="2x" style="color: white;"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
