<div class="container-fluid p-0">
  <div class="row no-gutters header">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 mt-5">
      <div class="container" id="data-privacy">
        <div class="row w-100 justify-content-center">
          <div class="col-12 align-self-center text-center">
            <h1>Daily Blog - Day 0</h1>
            <small>{{ article.date.toDateString() }}</small>
            <hr />
          </div>
          <div class="col-12 align-self-center">
            <p>
              Hello, my name is Gerrit Schöne and this article marks my very first blog post which is hopefully followed
              by many more. First of all, I would like to introduce myself: I am a 23 year old german master student of
              computer science at the Carl-von-Ossietzky University of Oldenburg and work as a software developer at a
              small company. In my free time I love to play Squash, hang out with friends and start small tech projects
              in my apartment. Furthermore, I am kind of obsessed with productivity and personal development in general,
              even though I often fail to make these good habits stick the long term. But that is why I am going to
              start this blog, I hope to start building these habits, which I often only sustained over a short period
              of time , into a long-term lifestyle while documenting all my struggles and hopefully successes in this
              blog.
            </p>

            <br />
            <h2>The Morning Routine</h2>
            <p><small>The short version of my morning routine is down below.</small></p>
            <p>
              The first habit I would love to adapt again is to have a strong morning routine where I wake up early.
              Last year in january I had an extremly productive morning routine for several month until my environment
              started to change and I failed to adapt my morning routine to the new situation.
              <br /><br />
              Last year, I woke up between 3:00 and 3:30 am and started working on personal projects or university
              related things, eating breakfast and meditate before hitting the gym at 8 am every single day. But my
              environment changed drastically since then and hitting the gym is currently not possible because of the
              corona pandemic. Therefore, I need to adapt a completly new routine which is more suitable for the long
              term since waking up between 3 and 3:30 am every single day was only possible for a few month.
              <br /><br />
              For the next 30 days, I will try a new routine, which focuses on waking up early to exercise and meditate
              before I need to start working or attending lectures. Since a successfully morning always starts the night
              before I intend to also adapt a very short evening routine to make my mornings a lot easier.
              <br /><br />
              At 18:30 I will start to write my daily blog post for an hour before getting ready for bed between 19:30
              and 20:00. After being ready for bed I lay out my running clothes for the next day and set my alarm clock
              in the bedroom and turn off my phone and let it charge in the living room to prevent myself from laying in
              bed the next morning and scrolling endlessly trough the news or social media when I actually wanted to
              start exercise. After my environment is prepared for the next day I go to bed at around 20:30 in order to
              get my 7 to 8 hours of sleep. The next morning I wake up at 4:30 am and get out of bed and start to drink
              atleast 500ml of water and putting on my running clothes which I layed out the night before. After getting
              more awake I hope to hit the road at 5 am and start to run for an hour following a running plan from
              Adidas Running. After my morning exercise I shower and get ready for the day. My last two activities of
              the morning routine is to get a rich breakfast and meditate afterwards.

              <br /><br />
              <i>See you tomorrow.</i>
              <br />
              <i>Gerrit</i>
              <br /><br />
              <b>Short version:</b> <br />
              18:30 - 19:30 → Write daily blog post <br />
              19:30 - 20:00 → Get ready for bed <br />
              20:00 - 20:30 → Lay out clothes for the next day, put phone away, set alarm clock <br />
              20:30 → Go to bed <br />
              <br /><br />
              04:30 → Wake up <br />
              04:30 - 05:00 → Drink 500ml water, put on running clothes <br />
              05:00 - 06:00 → Running (Plan from Adidas Running)<br />
              06:00 - 06:30 → Shower and get ready for the day <br />
              06:30 - 07:00 → Breakfast <br />
              07:00 - 07:30 → Meditate for 20-30 minutes
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters footer mt-5">
    <div class="col-12 mt-3">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<app-scroll-top></app-scroll-top>
