<div class="container-fluid p-0">
  <div class="row no-gutters header">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 mt-5">
      <app-about></app-about>
    </div>
  </div>
  <div class="row no-gutters bg-light">
    <div class="col-12 mt-5">
      <app-skills></app-skills>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 mt-5">
      <app-contact></app-contact>
    </div>
  </div>
  <div class="row no-gutters footer mt-5">
    <div class="col-12 mt-3">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<app-scroll-top></app-scroll-top>
