<div class="container" id="about">
  <div class="row w-100 justify-content-center">
    <div class="col-12 align-self-center text-center">
      <h1>PROJECTS</h1>
      <hr />
    </div>
    <div class="col-12 align-self-center">
      <p>
        In my spare time I often develop small or bigger full-stack applications to stay up-to date with recent
        technologies and to sharpen my skills. Below is a small selection of these projects:
      </p>

      <p-carousel
        class="d-md-none"
        verticalViewPortHeight="400px"
        [value]="projects"
        orientation="vertical"
        [numVisible]="1"
        [numScroll]="1"
        [autoplayInterval]="5000"
        [circular]="true"
      >
        <ng-template let-project pTemplate="item">
          <div class="row w-100">
            <div class="col-12 project-details">
              <h2>{{ project.name }}</h2>
              <p>
                {{ project.description }}
              </p>

              <p>
                Technologies used:
                <b *ngFor="let tech of project.usedTechnologies; index as i"> {{ tech }}</b>
              </p>

              <a href="{{ project.link }}" class="btn">Read more</a>
            </div>
          </div>
        </ng-template>
      </p-carousel>

      <p-carousel
        class="d-none d-md-block"
        verticalViewPortHeight="250px"
        [value]="projects"
        orientation="vertical"
        [numVisible]="1"
        [numScroll]="1"
        [autoplayInterval]="5000"
        [circular]="true"
      >
        <ng-template let-project pTemplate="item">
          <div class="row w-100">
            <div class="col-12 project-details">
              <h2>{{ project.name }}</h2>
              <p>
                {{ project.description }}
              </p>

              <p>
                Technologies used:
                <b *ngFor="let tech of project.usedTechnologies; index as i"> {{ tech }}</b>
              </p>

              <a href="{{ project.link }}" class="btn">Read more</a>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
