<div class="container" id="about">
  <div class="row w-100 justify-content-center">
    <div class="col-12 align-self-center text-center">
      <h1>PROJECTS</h1>
      <hr />
    </div>
    <div class="col-12 align-self-center text-center">
      <p>
        In my spare time I often develop small or bigger full-stack applications to stay up-to date with recent
        technologies and to sharpen my skills. Below is a small selection of these projects:
      </p>

      <fa-icon
        class="carousel-control-custom"
        (click)="previousSlide()"
        [icon]="faChevronCircleLeft"
        size="lg"
      ></fa-icon>
      <carousel
        [(activeSlide)]="activeSlideIndex"
        [showIndicators]="true"
        [interval]="10000"
        [noPause]="false"
        [pauseOnFocus]="true"
      >
        <slide class="col-12" *ngFor="let project of projects; index as i">
          <div class="py-5">
            <h2>
              {{ project.name }}
            </h2>
            <div class="project-details">
              <p>
                {{ project.description }}
              </p>
              <p>
                Technologies used:
                <b *ngFor="let tech of project.usedTechnologies; index as i"> {{ tech }}</b>
              </p>

              <a href="{{ project.link }}" class="btn">Read more</a>
            </div>
          </div>
        </slide>
      </carousel>
      <fa-icon
        class="carousel-control-custom mt-2"
        (click)="nextSlide()"
        [icon]="faChevronCircleRight"
        size="lg"
      ></fa-icon>

      <br /><br /><br />
    </div>
  </div>
</div>
