<div class="container-fluid p-0">
  <div class="row no-gutters header">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 mt-5">
      <div class="container" id="imprint">
        <div class="row w-100 justify-content-center">
          <div class="col-12 align-self-center text-center">
            <h1>IMPRINT</h1>
            <hr />
          </div>
          <div class="col-12 align-self-center">
            <h1>Legal Disclosure</h1>
            Information in accordance with Section 5 TMG
            <br /><br />Mottenstraße, 3<br />26122 Oldenburg<br />
            <h2>Contact Information</h2>
            Telephone: -<br />E-Mail: <a href="mailto:gerritschoene.info@gmail.com">gerritschoene.info@gmail.com</a
            ><br />Internet address:
            <a href="https://amazing-johnson-d64a3d.netlify.com" target="_blank"
              >https://amazing-johnson-d64a3d.netlify.com</a
            ><br /><br />
            <h2>Disclaimer</h2>
            Accountability for content<br />
            The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents'
            accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for
            our own content on these web pages. In this matter, please note that we are not obliged to monitor the
            transmitted or saved information of third parties, or investigate circumstances pointing to illegal
            activity. Our obligations to remove or block the use of information under generally applicable laws remain
            unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).

            <br /><br />Accountability for links<br />
            Responsibility for the content of external links (to web pages of third parties) lies solely with the
            operators of the linked pages. No violations were evident to us at the time of linking. Should any legal
            infringement become known to us, we will remove the respective link immediately.<br /><br />Copyright<br />
            Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law,
            every form of utilizing, reproducing or processing works subject to copyright protection on our web pages
            requires the prior consent of the respective owner of the rights. Individual reproductions of a work are
            only allowed for private use. The materials from these pages are copyrighted and any unauthorized use may
            violate copyright laws.

            <br /><br />
            <i>Quelle: </i><a href="http://www.translate-24h.de" target="_blank">translate-24h Übersetzungen</a>
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters footer mt-5">
    <div class="col-12 mt-3">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<app-scroll-top></app-scroll-top>
